In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('65d4f0fcb8af9_amex_campus_challenge_train_3.csv', index_col=0)

In [4]:
output = pd.read_csv('65d4b84c5b826_sample_rows_for_submission.csv', index_col=0)

In [5]:
#data.fillna(data.mean())

In [6]:
len(data["customer"].unique())

462584

In [7]:
len(data["merchant"].unique())

591973

In [9]:
filtered = data[data['merchant_profile_01'].isna()]

In [10]:
filtered['merchant'].unique().size

69164

In [11]:
data.head(20)

,activation,customer_digital_activity_04,customer_spend_01,customer_industry_spend_01,customer_industry_spend_02,customer_industry_spend_03,customer_industry_spend_04,customer_industry_spend_05,customer_spend_02,customer_spend_03,...,merchant_spend_09,merchant_profile_03,customer_digital_activity_01,merchant_spend_10,customer_profile_03,customer_digital_activity_02,customer_profile_04,distance_05,customer,merchant
ind_recommended,,,,,,,,,,,,,,,,,,,,,
0,0,NaN,107.215862,26.686594,74.0,3682.75,138.0,111.0,14.0,133.0,...,49466.0,65923.0,0.000000,29.180000,58.434969,32.500000,86.0,15.856826,168972,152285
0,0,NaN,35.552000,50.928261,3.0,1171.35,23.0,17.0,2.0,8.0,...,3638.0,7801.0,0.419355,28.465000,5.392089,7.000000,125.0,6.998555,212404,39032
0,0,NaN,31.623103,48.837872,19.0,2295.38,47.0,42.0,11.0,62.0,...,3912.0,12868.0,0.836364,421.500000,33.780445,0.000000,180.0,1.753009,225178,7439
0,0,NaN,112.277391,NaN,NaN,NaN,NaN,NaN,16.0,33.0,...,28919.0,23553.0,0.952381,50.000000,37.340085,28.666667,134.0,9.000063,183948,485069
1,0,NaN,448.427273,NaN,NaN,NaN,NaN,NaN,5.0,8.0,...,1086.0,308.0,0.754386,69.509000,77.794164,15.000000,114.0,1.767939,210107,536004
0,0,NaN,81.858000,NaN,NaN,NaN,NaN,NaN,9.0,72.0,...,20952.0,16692.0,0.212766,147.700000,73.403888,1.166667,80.0,1.366169,227362,419583
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26611.0,24708.0,0.581818,23.010000,NaN,0.000000,193.0,18.914194,401342,343074
0,0,NaN,45.241765,17.014430,69.0,2535.15,149.0,109.0,7.0,133.0,...,26181.0,73439.0,0.243243,40.640000,98.155236,46.833333,142.0,0.063262,308043,266191
0,0,NaN,18.223538,29.103333,7.0,261.93,9.0,6.0,10.0,43.0,...,4691.0,13314.0,NaN,350.555556,24.006210,7.333333,186.0,1.542463,174487,522438
0,0,NaN,1400.000000,1035.125000,1.0,2070.25,2.0,2.0,1.0,1.0,...,2894.0,1212.0,0.238095,563.000000,18.565891,0.000000,79.0,2.830609,414842,143402
0,0,NaN,196.890000,NaN,NaN,NaN,NaN,NaN,1.0,6.0,...,3682.0,2805.0,0.960000,14.861765,100.000000,0.500000,9.0,7.568990,159066,439468
0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,1142.0,607.0,0.076923,25.750000,0.000000,2.333333,25.0,4.970615,129516,87423
0,0,NaN,227.978605,88.336000,9.0,883.36,10.0,10.0,19.0,121.0,...,6482.0,14746.0,0.558140,111.470588,95.394332,6.333333,100.0,2.290935,335462,219596
1,0,NaN,120.228333,NaN,NaN,NaN,NaN,NaN,4.0,26.0,...,6119.0,1352.0,0.368421,392.116667,17.779036,2.166667,450.0,9.673566,394885,58470
0,0,NaN,NaN,53.030000,1.0,53.03,1.0,1.0,NaN,4.0,...,1622.0,671.0,0.250000,116.070000,16.177457,2.833333,155.0,9.093101,252007,255993
0,0,NaN,24.950000,5.665000,2.0,11.33,2.0,2.0,1.0,11.0,...,9962.0,8335.0,0.250000,9.970000,41.294884,0.500000,15.0,3.152684,117809,294027
0,0,NaN,95.692000,26.965000,1.0,53.93,2.0,2.0,4.0,47.0,...,4525.0,991.0,0.727273,365.145000,24.844837,0.166667,583.0,0.804932,104699,431079
0,0,NaN,63.807500,182.868182,8.0,2011.55,11.0,11.0,5.0,31.0,...,NaN,NaN,0.982456,5.850000,97.487533,1.333333,111.0,12.676034,452082,106411
0,0,NaN,124.476957,69.819259,14.0,1885.12,27.0,24.0,14.0,50.0,...,87732.0,20104.0,0.000000,14.630000,72.296910,0.000000,172.0,4.044462,8614,471093
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,798.0,365.0,0.312500,539.909091,0.000000,2.333333,233.0,19.365277,84343,108532

In [12]:
output.head(5)

          merchant  predicted_score
customer
140              8         0.518033
140            120         0.038266
140            301         0.308177
140            352         0.194978
140            692         0.155000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12229978 entries, 0 to 0
Data columns (total 70 columns):
 #   Column                        Dtype
---  ------                        -----
 0   activation                    int64
 1   customer_digital_activity_04  float64
 2   customer_spend_01             float64
 3   customer_industry_spend_01    float64
 4   customer_industry_spend_02    float64
 5   customer_industry_spend_03    float64
 6   customer_industry_spend_04    float64
 7   customer_industry_spend_05    float64
 8   customer_spend_02             float64
 9   customer_spend_03             float64
 10  customer_merchant_02          float64
 11  customer_merchant_01          float64
 12  customer_spend_04             float64
 13  customer_spend_05             float64
 14  customer_spend_06             float64
 15  customer_spend_07             float64
 16  merchant_spend_01             float64
 17  merchant_spend_02             float64
 18  merchant_spend_03             float64
 19  merchant_spend_04             float64
 20  merchant_spend_05             float64
 21  merchant_spend_06             float64
 22  merchant_spend_07             float64
 23  merchant_spend_08             float64
 24  merchant_profile_01           float64
 25  customer_merchant_03          float64
 26  customer_profile_01           float64
 27  customer_profile_02           float64
 28  customer_digital_activity_05  float64
 29  customer_spend_13             float64
 30  customer_digital_activity_06  float64
 31  customer_spend_14             float64
 32  customer_digital_activity_07  float64
 33  customer_digital_activity_08  float64
 34  customer_digital_activity_09  float64
 35  customer_digital_activity_10  float64
 36  customer_digital_activity_11  float64
 37  customer_digital_activity_12  float64
 38  customer_digital_activity_13  float64
 39  customer_digital_activity_14  float64
 40  customer_digital_activity_15  float64
 41  customer_spend_15             float64
 42  customer_digital_activity_16  float64
 43  customer_spend_16             float64
 44  customer_spend_17             float64
 45  customer_digital_activity_17  float64
 46  customer_digital_activity_03  float64
 47  merchant_spend_11             float64
 48  customer_digital_activity_18  float64
 49  customer_digital_activity_19  float64
 50  distance_01                   float64
 51  customer_digital_activity_20  float64
 52  distance_02                   float64
 53  distance_03                   float64
 54  customer_spend_18             float64
 55  customer_spend_19             float64
 56  customer_digital_activity_21  float64
 57  customer_digital_activity_22  float64
 58  distance_04                   float64
 59  merchant_profile_02           float64
 60  merchant_spend_09             float64
 61  merchant_profile_03           float64
 62  customer_digital_activity_01  float64
 63  merchant_spend_10             float64
 64  customer_profile_03           float64
 65  customer_digital_activity_02  float64
 66  customer_profile_04           float64
 67  distance_05                   float64
 68  customer                      int64
 69  merchant                      int64
dtypes: float64(67), int64(3)
memory usage: 6.5 GB

In [14]:
columns = [col for col in data.columns if col.startswith('merchant')]
sub_df = data[columns]

In [15]:
sub_df.head(5)

,merchant_spend_01,merchant_spend_02,merchant_spend_03,merchant_spend_04,merchant_spend_05,merchant_spend_06,merchant_spend_07,merchant_spend_08,merchant_profile_01,merchant_spend_11,merchant_profile_02,merchant_spend_09,merchant_profile_03,merchant_spend_10,merchant
ind_recommended,,,,,,,,,,,,,,,
0,29.781042,43.0,0.0,0.0,0.0,32.0,1429.49,48.0,101.0,NaN,0.157534,49466.0,65923.0,29.180,152285
0,34.643313,97.0,0.0,0.0,0.0,15.0,5646.86,163.0,403.0,NaN,0.084416,3638.0,7801.0,28.465,39032
0,1731.000000,2.0,1731.0,2.0,2.0,8.0,3462.00,2.0,406.0,NaN,0.240000,3912.0,12868.0,421.500,7439
0,54.800000,4.0,0.0,0.0,0.0,62.0,274.00,5.0,326.0,NaN,0.187500,28919.0,23553.0,50.000,485069
1,166.000000,1.0,0.0,0.0,0.0,74.0,166.00,1.0,326.0,NaN,0.428571,1086.0,308.0,69.509,536004

In [16]:
data['merchant'].unique

<bound method Series.unique of ind_recommended
0    152285
0     39032
0      7439
0    485069
1    536004
      ...
0    564879
0    453544
0    259023
0    305617
0    557003
Name: merchant, Length: 12229978, dtype: int64>